assets/textures/*
assets/tiled

imgui.ini

bin/*
build/*
out/build/*
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

*.plist
*.vim
*.pdf
*.png
*.jpg
*.ps
.vs
.vscode/c_cpp_properties.json
.cache
